{% extends 'layout.html' %}
{% block content %}

 <!-- Banner Section -->
<div class="carousel">
  <div class="carousel-track">
    {% for post in sliders %}
    <div class="carousel-item">
      <img src="{{ post.image.url }}" alt="One">
      <h3>{{ post.title }}</h3>
      <p>{{ post.content| truncatechars:100 }}</p>

      <a href="/post/{{post.id}}/" class="btn">Start Reading</a>

    </div>
    {% endfor %}
  </div>
</div>  

    <!---content-->

  <div class="promo-container">
        <!-- Left Card -->
         {% for post in ratul %}
        <div class="promo-card">
           {% if post.image%}
            
           <img src="{{ post.image.url}}" alt="One Piece Vol 111">
            
           {% endif %}
            <h3>{{post.title}}</h3>
            <p>
              {{ post.content }}
            </p>
            <a href="/post/{{post.id}}/" class="btn">Start Reading</a>
      
        </div>
            {% endfor %}
  </div>

  
   
  {% endblock %}

